/* General */
#about-me {
    background-color: #f8f8f8; 
}

/* Left */
#left-container {
    padding: 20px; 
    border-right: 2px solid #333; 
}
#about-me-left img {
    width: 200px; 
    height: 200px; 
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 50%; /* Make the image a circle */
    object-fit: cover; /* Maintain the image's aspect ratio and center it both horizontally and vertically */
}
#about-me-left h1 {
    font-size: 36px; 
    color: #333; 
}
#about-me-left p {
    font-size: 18px; 
    color: #555; 
}

/* Right */

