.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #3D3B40;
}

.header {
    flex: 3;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 2rem;
}

.info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0;
    color: white;
    font-weight: lighter;
}