.main {
    width: 100vw;
    background-color: #BCA37F;
}

.outerCard {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}
.innerCard {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 1rem;
    border-radius: 2rem;
    height: 50vh;
    width: 70vw;
}

.imageCard {
    position: relative;
    flex: 2; /* 2/6 w.r.t main */
    background-color: white;
}

.body {
    flex: 4; /* 4/6 w.r.t main */
    display: flex;
    background-color: #113946;
    padding: 1rem 0 1rem 2rem;
}
.body .container { /* aligning company and date */
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}
.body h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
}
.body h3, .body p{
    color: white;
    font-weight: lighter;
    font-size: 1vw;
}
.body p {
    padding: 1.5rem 2rem 0 0;
}