.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    background-color: #FFF2D8;
}

.body {
    flex: 3; /* takes up 3/5 of the space w.r.t main */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.content {
    padding-left: 10em;
}
.content .name {
    color: black;
    font-weight: bold;
    font-size: 6em;
    padding: 0.5em 0;
}
.content .body {
    color: black;
    font-weight: 450;
    font-size: 1.5em;
    padding: 0.2em 0;
}

.image {
    flex: 2; /* takes up 2/5 of the space w.r.t main */
    display: flex;
    align-items: center;
}
.image img {
    border-radius: 50%;
    max-width: 35vw;
    max-height: 35vw;
    object-fit: cover;
}