.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0; /* ensures the navbar sticks to the top */
    left: 0; 
    right: 0; 
    z-index: 1000;
    width: 100vw;
}
  
.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks {
    list-style: none;
    display: flex;
}
.navLinks li {
    padding: 0 1rem;
}
.navLinks li a {
    text-decoration: none;
    transition: color 1s ease 2s, text-decoration 1s ease 2s;
}
.navLinks li a:hover {
    color: #ddd;
    text-decoration: underline;
    text-decoration-color: #ddd;
}