.main {
    width: 100vw;
    background-color: #BCA37F;
}

.outerCard {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}
.innerCard {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 1rem;
    border-radius: 2rem;
    height: 50vh;
    width: 80vw;
}

.imageCard {
    position: relative;
    flex: 1; /* 1/2 w.r.t main */
    background-color: white;
}

.body {
    flex: 1; /* 1/2 w.r.t main */
    display: flex;
    background-color: #11235A;
    padding: 2rem 0 2rem 2rem;
}
.body h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
}
.body h3, .body p{
    color: white;
    font-weight: lighter;
    font-size: 1vw;
}
.body p {
    max-width: 40rem;
    padding: 1.5rem 2rem 0 0;
}

.description a {
    text-decoration: none;
    transition: text-decoration 0.3s;
}
.description a:hover {
    text-decoration: underline;
}